.Job{
        margin-left: 21%;
    margin-top: 8%;
    width: 71%;
    font-size: 28px;
}
.card-title{
    text-align: center;
}
.descriptionJob{
    margin-left: 8%;
}
.skillsList{
    margin-left: 11%;
}
.glyphicon{
    float: right;
    margin-right: 1%;
    margin-top: -6%;
}
.pencil{
    margin-right: 6%;
}
