<h1>
    all-jobs !
</h1><br><br><br>

<a routerLink="/AddJob">
<button type="button" class="btn btn-primary">Add New Job</button>
</a>
<div class="row" *ngFor="let job of allJobs">
  <div *ngIf="job.IsActive">
      <div class="col-sm-12">
      <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{job.strUniqueID}}. {{job.Name}}
        <span class="glyphicon glyphicon-remove-circle"
        (click)="MarkJobAsInActive(job)"></span>
        </h3>
        <p>
         <strong> Manager Name:</strong> {{job.UserId}} 
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <strong>  Position : </strong> {{job.Position}}
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <strong> Year Of Experience: </strong> {{job.YearOfExperience}}
          <br/>

        </p>
        <p class="card-text">
          <strong>Description:</strong> {{job.Description}}<br/>
          <strong>Requirements:</strong> {{job.Requirements}}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      </div>
      </div>
  </div>
</div>



  