.col-sm-6{
    width: 120%;
}
.row{
   margin-top: 3%;
    display: inline-block;
    margin-left: 17%;
}
h1{
    text-align: center;
}
.glyphicon-remove-circle{
    float: right;
    margin-right: 2%;
}




.btn{
    margin-left: 18%;
    margin-bottom: 19%;
    font-size: 125%;
}
.glyphicon-pencil{
float: right;
margin-right: 2.5%;
}
.form-control{
    width: 50%;
    margin-left: 26%;
}
label{
    font-size: 25px;
    margin-left: 26%;
}

    .col-sm-6[_ngcontent-c1] {
        width: 186%;
    margin-left: -252%;
}
.editjob{
        margin-top: -16%;
}