.col-sm-4{
    width: 100%;
}
.row{
    margin-right: -15px;
    margin-left: 20%;
}
h1{
    text-align: center;
}
.glyphicon-remove-circle{
    float: right;
    margin-right: 2%;
}




.btn{
        float: right;
    margin-right: 5%;
    font-size: 125%;
}
.glyphicon-pencil{
float: right;
margin-right: 2.5%;
}
.form-control{
    width: 50%;
    margin-left: 26%;
}
label{
    font-size: 25px;
    margin-left: 26%;
}