<nav class="col-xs-6 col-sm-3 sidebar-offcanvas sideBarNav">
    <div style="background:#f8f8f8;height:100%;" class="navbar-fixed-left">
        <!-- <div style="background:#f8f8f8;width:15%;"  class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation"> -->
        <div class="sidebar-nav">
            <ul class="nav">
                <li id="starter" class="nav-divider"></li><br>
                <strong><label class="searchLabel"> Search : </label></strong> <br><br>
                <li><input type="text" class="searchjob" name="searchjob" [(ngModel)]="searchjob" placeholder="search text goes here">
                    <span class="fa fa-search searchIcon"></span></li>
                <li class="nav-divider"></li><br><br>
                <strong> Skillset : </strong> <br><br>
                <li *ngFor="let skill of Skills">
                    <input type="checkbox" class="skillCheckBox" name="skill" 
                    [(ngModel)]="skill.selected" 
                    (change)="filterBySkills(skill)" 
                    [value]="skill.value">                    
                    {{skill.skill}}
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>

<br>
<a class="AddJob" routerLink="/AddJob">
<button type="button" class="btn btn-primary addJobBtn"><span class="fa fa-plus plusIcon"></span>Add New Job</button>
</a>
<!--all jobs shortly-->
<div class="allCards">
    <div class="box effect7 card" *ngFor="let job of allFilterdjobs | filter:searchjob">
        <div>
            <h3 class="card-title">{{job.Name}}
                <span class="fa fa-window-close jobIcon" (click)="GetJobToDelete(job)"  data-toggle="modal" data-target="#myModal"></span>
                <span class="fa fa-pencil jobIcon" (click)="EditJob(job.Id)"></span>
            </h3>
            <p *ngFor="let user of allUsersObj" class="card-text" (click)="SeeJob(job.Id)">
                <span *ngIf="job.UserId==user.Id">
         Recruiters:  {{user.Name}}  
        </span>
            </p>
        </div>
    </div>
</div>



<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modelBtns" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">DELETE</h3>
        </div>
        <div class="modal-body">
          <p [style.font-size]="'22px'">Are you sure you want to move this job to archives?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modelBtns" (click)="DeleteJobHandler()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default modelBtns" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>