
 <a class="AddJob" routerLink="/AddJob">
<button type="button" class="btn btn-primary">Add New Job</button>
</a> 


 <!--all jobs shortly-->
<div class="row" *ngFor="let job of allJobs" (click)="SeeJob(job.Id)">
<div>
  <div class="Job" *ngIf="job.IsActive && openFormToEditJob==false">
      <div class="col-sm-6">
      <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{job.Name}}   
          <span class="glyphicon glyphicon-remove-circle"
          (click)="MarkJobAsInActive(job)"></span>
          <span class="glyphicon glyphicon-pencil"
          (click)="EditJob(job.Id)"></span>
      </h3>  
      <p *ngFor="let user of allUsersObj"> 
        <span *ngIf="job.UserId==user.Id">
         Recruiters:  {{user.Name}}  
        </span>
      </p> 
         
      </div>
      </div>
      </div>
  </div>
</div>
</div>  