
.errorMassage{
    font-size: 25px;
    color: red;
    display: inline-block;
    text-align: center;
    margin-left: 32px;
    margin-top: 49px;
}
body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 150px;
    /* shadows and rounded borders */
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 127px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
}


.profile-name-card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    direction: ltr;
    height: 44px;
    font-size: 20px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color: #31a6de;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #31a6de;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #31a6de;
}

.btn.btn-signin {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*background-color: #4d90fe; */
    background-color: rgba(49,166,222,0.7);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #3c3c3c;
    -webkit-transition:0.4s linear all;
   -moz-transition:0.4s linear all;
   -o-transition:0.4s linear all;
   transition:0.4s linear all;
}

.forgot-password {
    color: #31a6de;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
   -webkit-transition:0.4s linear all;
   -moz-transition:0.4s linear all;
   -o-transition:0.4s linear all;
   transition:0.4s linear all;
   color: #3c3c3c;
   text-decoration: none;
}