<div class="container">
    <div class="card card-container" *ngIf="nav.loginVisible">
        <img id="profile-img" class="profile-img-card" src="../../assets/images/p-trans.gif" />
        <p id="profile-name" class="profile-name-card"></p>
        
        
        <form class="form-signin" #trvForm="ngForm" (ngSubmit)="Login()">

            <input type="email" placeholder="Enter email address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="Email"
                #userEmail="ngModel" name="email" id="inputEmail" required autofocus/>
            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger input-validator-container alerMsg">
                <div *ngIf="userEmail.errors.required">Email is required</div>
                <div *ngIf="userEmail.errors.pattern">Email is invalid</div>
            </div>

            <input type="password" placeholder="Enter password" [(ngModel)]="Password" name="password" #userPassword="ngModel" minlength="6"
                id="inputPassword" required/>
            <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="alert alert-danger input-validator-container alerMsg">
                <div *ngIf="userPassword.errors.required">Password is required</div>
                <div *ngIf="userPassword.errors.minlength">password must contain minimum 6 chars</div>
            </div>
            <br>

            <button role="button" class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!trvForm.valid">Login</button>
            <p class="errorMassage">{{Error}}</p>
        </form>
    </div>
</div>



<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
          </ul>
        </li>          
        <li ><a href="/AllApplicants">Applicant<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
        <li ><a routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>