<div *ngIf="nav.menuVisible" class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container-fluid">
        <div style="background:#3c3c3c;height:100px;width:14%;display:flex;align-items:center;justify-content:center" class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a style="height:100px;display:flex;align-items:center;justify-content:center" class="navbar-brand" style="color:white">AT&T Collaboration Tool <br> Hi, {{userObj.Name}} ({{userObj.UserType}})</a>
        </div>
                <div class="collapse navbar-collapse navbar-right">
    <a role="button" style="height:100px;display:flex;align-items: center;justify-content: center" href="https://www.att.com/">
    <img id="logo-img" class="profile-img-card" src="../../assets/images/p-trans.gif" />
    </a>
</div>
        <div class="collapse navbar-collapse">
            <ul style="height:100px" class="nav navbar-nav">
                <li class="active" [ngClass]="{'active':true, 'active':JisClicked}"><a style="height:100px;display:flex;align-items: center;justify-content: center" (Click)="JisClicked=!isClicked" 
                    routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a></li>
                <li class="active" [ngClass]="{'active':true, 'active':AisClicked}"><a style="height:100px;display:flex;align-items: center;justify-content: center" (Click)="AisClicked=!isClicked" 
                    routerLink="/AllApplicants">Applicants<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-user-circle"></span></a></li>
            </ul>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->

<nav *ngIf="nav.menuVisible" style="background:#f8f8f8;width:14%;height:100%;position:fixed" class="col-xs-6 col-sm-3 sidebar-offcanvas">
    <div style="background:#f8f8f8;height:100%;" class="navbar-fixed-left" >
        <!-- <div style="background:#f8f8f8;width:15%;"  class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation"> -->
            <div class="sidebar-nav">
                <ul class="nav">
                    <li id="starter" class="nav-divider"></li>
                    <li><a class="Category" routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a></li>
                   <li><a class="Category" routerLink="/AllApplicants">Applicants<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-user-circle"></span></a></li>
                    <li class="nav-divider"></li>
                    <li><a routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a></li>
                   <li><a routerLink="/AllApplicants">Applicants<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-user-circle"></span></a></li>
                    <li class="nav-divider"></li>
                    <li><a routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-tags"></span></a></li>
                   <li><a routerLink="/AllApplicants">Applicants<span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-user-circle"></span></a></li>
                </ul>
        <!-- <input type="text" [(ngModel)]="userFilter.name" placeholder="name">
        <ul>
          <li *ngFor="let job of allJobs | filterBy: userFilter">{{ user.name }}</li>
          

          <li *ngIf="(Jobs | filterBy: stringFilter).length === 0">No matching elements</li>
        </ul> -->
            </div>
<!-- 
        <div class="col-xs-12 col-sm-9">

        </div> -->



    </div>
    <!--/row-->


<!--/.container-->
</nav>

<router-outlet></router-outlet>

<div class="container">
    <div class="card card-container" *ngIf="nav.loginVisible">
        <img id="profile-img" class="profile-img-card" src="../../assets/images/p-trans.gif" />
        <p id="profile-name" class="profile-name-card"></p>
        
        
        <form class="form-signin" #trvForm="ngForm" (ngSubmit)="Login()">

            <input type="email" placeholder="Enter email address" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="Email"
                #userEmail="ngModel" name="email" id="inputEmail" required autofocus/>
            <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)" class="alert alert-danger input-validator-container alerMsg">
                <div *ngIf="userEmail.errors.required">Email is required</div>
                <div *ngIf="userEmail.errors.pattern">Email is invalid</div>
            </div>

            <input type="password" placeholder="Enter password" [(ngModel)]="Password" name="password" #userPassword="ngModel" minlength="6"
                id="inputPassword" required/>
            <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="alert alert-danger input-validator-container alerMsg">
                <div *ngIf="userPassword.errors.required">Password is required</div>
                <div *ngIf="userPassword.errors.minlength">password must contain minimum 6 chars</div>
            </div>
            <br>

            <button role="button" class="btn btn-lg btn-primary btn-block btn-signin" [disabled]="!trvForm.valid">Login</button>
            <p class="errorMassage">{{Error}}</p>
        </form>
    </div>
</div>



<!-- <nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
          </ul>
        </li>          
        <li ><a href="/AllApplicants">Applicant<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>        
        <li ><a routerLink="/AllJobs">Jobs<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
      </ul>
    </div>
  </div>
</nav> -->
