<div class="divContainAll">
    <div id="Misgert">
    <h1>Add Applicant</h1>
    <!-- לעשןת כפתור ששולח את כל המידע לDB -->
    <div id="divForm"> 
 <form  #trvformItem="ngForm" (ngSubmit)="SendApplicant(trvformItem)" > 
      <div id="firstpart">  
  <div class="form-row">
       <button type="submit"> <span class="glyphicon glyphicon-plus"></span> </button>
    <div class="form-group">
      <label class="FormInput">Name</label>
      <input type="text" class="form-control"   [(ngModel)]="name" name="name"  placeholder="Name">
    </div>
     <div class="form-group">
      <label class="FormInput">Title</label>
      <input type="text" class="form-control"   [(ngModel)]="title" name="title" placeholder="Title">
    </div> 
  </div>
  <div class="form-group">
<label class="FormInput"> Email</label>
<input type="email" class="form-control"    [(ngModel)]="email" name="email"placeholder="Email"> 
  </div>

<label class="FormInput"> Position </label>
 <!-- [(ngModel)]="position" name="position" -->
<select  class="form-control" readonly disabled>   
    <option>Developer</option>
</select>
<div class="form-group">
<label class="FormInput"> Phone Number </label>
<input type="text" class="form-control"   [(ngModel)]="phone" name="phone" placeholder="Phone Number" > 
</div>
<div class="form-group">
<label class="FormInput"> Years of Experience</label>
<input type="number"  class="form-control"   [(ngModel)]="experience" name="experience" placeholder="can be expressed as the year that relevant career started" > 
</div>


</div>
<div class="secondpart">
<div class="form-group">
<label class="FormInput"> CV Attachment </label>
<input
  id="idUpload" type="file" (change)="fileChange($event)" class="upload" value="Upload" 
 placeholder="CV Attachment (PDF or WORD)" > 
</div>
</div>



 </form>
<br>


<div class="secondpart">
   
  <label id="SkillId"> Skillset </label>  
  <button (click)="ShowaddSkill()"> 
      <span class="glyphicon glyphicon-plus"></span> Add
      </button>


    <div *ngIf = "AddSkillInput" >
    <input class="form-control" type="text" [(ngModel)]="newSkill" 
    name="newSkill" placeholder="Add New Skill">
    <button (click)="addNewSkill()"> Add Skill</button>
    </div>


  <p *ngFor="let skill of Skills">
    <input type="checkbox" name="skill" 
    [(ngModel)]="skill.selected"
   (change)="SkillsetArray(skill)"
    [value]="skill.value"> {{skill.skill}}
    <!-- (click)="SkillsetArray(skill)"  -->
  </p>



<!-- </form> -->
  </div> 

<!-- <div class="secondpart">
<div class="form-group">
<label class="FormInput"> Interviwe Summary </label> 
<textarea   class="form-control" [(ngModel)]="summary" name="summary" placeholder="Interviwe Summary" > </textarea>
<button (click)="addInterviwe()"> 
      <span class="glyphicon glyphicon-plus"></span> Add
      </button>
</div>
</div> -->

  </div>
</div>


