.card{
    display: inline-block;
    border: 1px solid gray;
    margin-left: 4%;
    margin-top: 4%;
    padding-left: 2%;
    width: 26%;
    height: 106px;
    padding-top: 1%;
}  
.col-sm-6{
     width: 100%;
 }
.skillCheckBox{
    margin-top: 5%;
}
.searchLabel{
        font-size: 109%;
    margin-top: 39%;
}
.searchIcon{
    position: absolute;
    margin-left: 85%;    
    margin-top: 5%;
    font-size: 119%;
    color: gray;
    }
.searchApp{
width: 102%;
    margin-left: -4%;
    font-size: 106%;
    height: 35px;
    margin-top: -5%;
    border: 1px solid lightgrey;
}
.sideBarNav{
        width: 18%;
        background:#f8f8f8;
        height:100%;
        position:fixed
} 
    .allCards{
      margin-left: 19%;
    margin-top: -4%;
}
.addApplicantBtn{
    margin-top: 3%;
 margin-left: 23%;    
    margin-bottom: 4%;    
    font-size: 125%;
    display: block;
    width: 17%;
}
.plusIcon{
margin-left: 0%;
}