.card{
    display: inline-block;
    border: 1px solid gray;
    margin-left: 4%;
    margin-top: 4%;
    padding-left: 2%;
    width: 26%;
    height: 106px;
    padding-top: 1%;
}  
.col-sm-6{
     width: 100%;
 }
.skillCheckBox{
    margin-top: 5%;
}
.searchLabel{
        font-size: 109%;
    margin-top: 39%;
}
.searchIcon{
    position: absolute;
    margin-left: 85%;    
    margin-top: -19%;
    font-size: 119%;
    color: gray;
    }
.searchApp{
width: 102%;
    margin-left: -4%;
    font-size: 106%;
    height: 35px;
    margin-top: -5%;
    border: 1px solid lightgrey;
}
.sideBarNav{
        width: 18%;
        background:#f8f8f8;
        height:100%;
        position:fixed
} 
    .allCards{
      margin-left: 19%;
    margin-top: 2%;
}
.addApplicantBtn{
    margin-top: 3%;
 margin-left: 23%;    
    margin-bottom: 4%;    
    font-size: 125%;
    display: block;
    width: 17%;
}
.plusIcon{
margin-left: 0%;
}
.box {
    background:#FFF;
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
        .card-title{
    color: #286090;
    font-size: 168%;
    font-weight: bold;
}
.appIcon{
        color: black;
}