.row{
    margin-left: 17%;
} 
h1{
    text-align: center;
}
.glyphicon-pencil{
float: right;
margin-right: 2.5%;
}

.searchIcon{
    position: absolute;
    margin-left: 85%;    
    margin-top: 5%;
    font-size: 119%;
    color: gray;
    }
.searchjob{
width: 102%;
    margin-left: -4%;
    font-size: 106%;
    height: 35px;
    margin-top: -5%;
    border: 1px solid lightgrey;
}
.sideBarNav{
        width: 18%;
        background:#f8f8f8;
        height:100%;
        position:fixed
}
    .skillCheckBox{
    margin-top: 5%;
}
.searchLabel{
        font-size: 109%;
    margin-top: 39%;
}

.col-sm-6{
     width: 100%;
    /* margin-left: -134%;  */
 }
.Job{
    width: 50%;
}
.card{
    display: inline-block;
    border: 1px solid gray;
    margin-left: 3%;
    margin-top: 20%;
    padding: 1%;
    width: 26%;
}
.allCards{
        padding-left: 19%;
    margin-top: -3%;
}
.textCard{
    margin-top: 10%;
    height: 74px;
}
  