<button> 
<span class="glyphicon glyphicon-plus"></span>Add
</button> 
<br>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      Yaffa Belete //lock<br>
      Web Developer //edit / delete applicant
    </div>
    <div class="col-sm-3">
           Yaffa Belete //lock<br>
      Web Developer //edit / delete applicant
    </div>
    <div class="col-sm-3">
           Yaffa Belete //lock<br>
      Web Developer //edit / delete applicant
    </div>
  </div>
</div> -->

  
    <div class="">
      Yaffa Belete //lock<br>
      Web Developer //edit / delete 
    </div>
    <div class="">
           Yaffa Belete //lock<br>
      Web Developer //edit / delete 
    </div>
    <div class="">
      Yaffa Belete    //lock<br>
      Web Developer  //edit / delete 
    </div>