 <h1>
    all-applicant for HR !
</h1><br><br><br>
  
<button href="#" data-toggle="tooltip" title="Add Aplicant!" 
 routerLink="/AddApplicant" style="margin-left:25%;margin-top:1%;"> 
<span class="glyphicon glyphicon-plus"></span>Add
</button> 
<br>


<div class="card" *ngFor="let applicant of allApplicant"
 style="width: 33rem; margin-left:25%; margin-right:-15%;" (click)="SeeApplicant(applicant.Id)">
    <h4 class="card-title">{{applicant.Name}}
    <span *ngIf="applicant.IsLocked == true" class="glyphicon glyphicon-lock" (click)="LockApplicant(applicant)" 
    data-toggle="tooltip" title="Locked by {{applicant.NameWhoLocked}}"></span>

    <span *ngIf="applicant.IsLocked == false" class="fa fa-unlock-alt" (click)="LockApplicant(applicant)" 
    data-toggle="tooltip" title="Lock Applicant"></span>
    </h4>
    <p class="card-text">{{applicant.Title}}
     <span class="glyphicon glyphicon-trash"
     href="#" data-toggle="tooltip" title="Delete Applicant!"></span> 
      <span class="glyphicon glyphicon-pencil" (click)="EditApplicant(applicant.Id)"
       data-toggle="tooltip" title="Edit Applicant!"></span>
    </p>
      <button class="publishBtn" (click)="Publish(applicant)" 
      *ngIf="applicant.IsPublished == false">Publish</button>
</div>
 
  
