.publishBtn, .interviewBtn{
      height: 30px;
    border: 1px solid black;
    float: right;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    margin-top: 2px;
}
.card{
    margin-top: 8%;
    max-width: 97rem;
    margin-left: 19%;
}
.labelSummary{
    font-size: 20px;  
    margin-left: 2%;
}
.textAreaSummaray{
    width: 87%;
    margin-left: 2%;
    height: 91px;
}
.addSummarayButtom{
    border: 1px solid blue;
    border-radius: 3px;
    height: 28px;
    width: 13%;
    margin-top: 3%;
    margin-left: 79%;
}

#lockIcon, #unlockIcon{
padding-right: 4%;
    font-size: 227%;
    margin-top: -5%;
    color: black;
        margin-left: 87%;
}
#deleteIcon{
        float: right;
            margin-top: -4%;
                font-size: 227%;
                    color: black;


}
        #pencilIcon{
    margin-left: 92%;
    font-size: 227%;
    color: black;
    margin-top: -4%;
        }
p{
    color: black;
    margin-left: 6%;
    font-size: 20px;
}
h1{
     color: black;
    margin-left: 38%;
    font-weight: bold;
}
h3{
     color: black;
    margin-left: 5%;
}
.CommentManagers{
     border: 1px solid rgb(185,198,217);
    width: 87%;
    margin-left: 6%;
}
.skills{
    color: black;
    margin-left: 6%;
    font-size: 20px;
}
.SummaryCard{
    width: 87%;
    margin-left: 2%;
    margin-top: -1%;
}
.JobCard{
    margin-left: 2%;
    width: 96%;
}
.card-text, .card-title{
    margin-left:1%;
     margin-top:2%;
}
        #title{
    margin-left:40%;
     margin-top:2%;
    }
    #text{
    margin-left:5%;
     margin-top:2%;
    }
    #Date{
    width: 16%;
    font-size: 101%;
    font-weight: bold;
    height: 0%;
    margin-left: 61%; 
    margin-top: 0%;   
    display: inline-block;
}
.btn{
    text-align: center;
    width: 11%;
    margin-left: 3%
}
.DivBtn{
        /* margin-top: -3%; */
}
    .clickedPass{
            margin-top: 18px;
    margin-left: 3%;
    font-size: 20px;
    }
.AddSummary{
           margin-left: 15%;
}
        .searchIcon{
    position: absolute;
    margin-left: 85%;    
    margin-top: 5%;
    font-size: 119%;
    color: gray;
    }
.searchInApplicant{
width: 102%;
    margin-left: -4%;
    font-size: 106%;
    height: 35px;
    margin-top: -5%;
    border: 1px solid lightgrey;
}
.sideBarNav{
        width: 18%;
        background:#f8f8f8;
        height:100%;
        position:fixed
}
    .searchLabel{
        font-size: 109%;
    margin-top: 39%;
}
.selectCategory{
    height: 38px;
    margin-left: -4%;
    width: 102%;
    font-size: 118%;
}

.modelBtns{
    border: 1px solid gray;
    font-size: 18px;
    border-radius: 5px;
    width: 18%;
    height: 36px;
    margin-right: 2%;
}
