
<div class="card card-cascade">
    <div class="view overlay hm-white-slight">    
        <a><div class="mask"></div></a>
    </div>
    <div class="card-body text-center">
        <h4 class="card-title"><strong>{{Name}}</strong></h4>
        <h5>{{Title}}</h5>
        <p class="card-text">
        Phone : {{Phone}}
        Position : {{Position}}
        Year Of Experience : {{YearOfExperience}} <br>
        Skills: 
        CV : {{CV}}
        </p>
        <a type="button" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"></i></a>
        <a type="button" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"></i></a>
        <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fa fa-dribbble"></i></a>
    </div>
</div>