
    <div>
        <button class="publishBtn" (click)="Publish()" *ngIf="isPublished == false">Publish</button>

        <h4 class="card-title"><strong>{{Name}}</strong></h4>
        <h5>{{Title}}</h5>

        <div class="card-text">
            Email : {{Email}}<br> 
            Phone : {{Phone}}<br> 
            Position : {{Position}}<br> 
            Year Of Experience : {{YearOfExperience}} <br><br> 
            Skills:<br>
            <div *ngFor="let s of skillsObj">
                {{s.skill}}<br>
            </div>
        </div>
    </div>
