<div class="applicant">
    <button class="publishBtn" (click)="Publish()" *ngIf="isPublished == false">Publish</button>

    <h4 class="card-title"><strong>{{Name}}</strong></h4>
    <h5>{{Title}}</h5>

    <div class="card-text">
        Email : {{Email}}<br> Phone : {{Phone}}<br> Position : {{Position}}<br> Year Of Experience : {{YearOfExperience}}
        <br/><br/> 
        <strong>Skills : </strong> 
        <br/>
        <a href="http://localhost:55187/UploadedCV's/38971.doc" download>click to download CV</a>
        <div *ngFor="let s of skillsObj">
            {{s.skill}}<br/>
        </div>
    </div><br/><br/> 


<strong>Here Are The Matching Jobs List : </strong><br/><br/>
    <div *ngFor="let job of MatchingJobsList">
        <strong> Name : </strong> {{job.Name}}<br/>
        <strong>  Position : </strong> {{job.Position}}<br/>
        <strong> Year Of Experience: </strong> {{job.YearOfExperience}}<br/>
        <strong>Description:</strong> {{job.Description}}<br/>
        <strong>Requirements:</strong> {{job.Requirements}}<br/><br/><br/>
    </div>
</div>