<div class="divContainAll">
 
  <span class="plusIcon glyphicon glyphicon-floppy-saved"
  (click)="SaveDatilesJob()"></span>

  <div class="container">
    <p> UX Designer
    <br><br>
    Title  
    <input class="inputText" class="form-control" type="text"
    [(ngModel)]="Title">
 
    Reccruiters: 
      <button> 
      <span class="glyphicon glyphicon-plus"
      (click)="RecruitingMangersList()"></span> Add
      </button> 


    <!-- <ul *ngIf="AddManager">
      <li *ngFor="let manager of RecruitingManagers"
      (click)="select(manager.display)">
      {{manager.display}}</li>
    </ul> -->

<p *ngFor="let manager of RecruitingManagers">
    <input type="checkbox"  name="skill" 
    [(ngModel)]="manager.selected"
    (change)="ManagersArray(manager)"
    [value]="manager.value">
    {{manager.display}}
</p>
    <p>
  </div>

  <div class="container">
    <p>
    Position
    <input class="inputText" class="form-control" type="text" disabled value="Developer"
    >
    
    Years of experience
    <input class="inputText" class="form-control" type="number"
    [(ngModel)]="YearsExperience" name="YearsExperience">
 
    Description
    <br>  
    <textarea [(ngModel)]="Description" name="description"></textarea> 
    </p>
  </div>

  <div class="container">
   <p>Skillset 
      <button (click)="addSkill()"> 
      <span class="glyphicon glyphicon-plus"></span> Add
      </button> 
    <br><br>

  <p *ngFor="let skill of Skills1">
    <input type="checkbox"  name="skill" 
    [(ngModel)]="skill.selected"
    (change)="SkillsetArray(skill)"
    [value]="skill.value">
    {{skill.display}}
   
  </p>


    <!-- <input class="inputCheckBox" type="checkbox" name="vehicle" value="Bike"
    [(ngModel)]="JavaScript">JavaScript

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <input class="inputCheckBox" type="checkbox" name="vehicle" value="Car"
    [(ngModel)]="CSS">CSS

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <input class="inputCheckBox" type="checkbox" name="vehicle" value="Bike"
    [(ngModel)]="C">C#<br>

    <input class="inputCheckBox" type="checkbox" name="vehicle" value="Car"
    [(ngModel)]="Python">Python

    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <input class="inputCheckBox" type="checkbox" name="vehicle" value="Car"
    [(ngModel)]="HTML" value="HTML">HTML 

    &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
    <input class="inputCheckBox" type="checkbox" name="vehicle" value="Car"
    [(ngModel)]="Java">Java 
     
   </p>-->
  </div>

  <div class="container">
   <p>Requirement 
   <br>
   <textarea></textarea>
   </p>
  </div>

</div>